<div class="container">
  <div class="row mt-3">
    <h3>{{ isEdit ? 'Изменение рецепта' : 'Новый рецепт' }}</h3>
  </div>
  <div class="row-cols-2 mt-3 mb-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm" >
      <div class="form-group">
        <label for="name">Название рецепта</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('name', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите название рецепта
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="description">Описание рецепта</label>
        <textarea
          formControlName="description"
          id="description"
          class="form-control"
        ></textarea>

        <small
          *ngIf="fieldHasError('description', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите описание рецепта
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="imageUrl">Изображение рецепта</label>
        <input
          type="text"
          formControlName="imageUrl"
          id="imageUrl"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('imageUrl', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите ссылку на изображение рецепта
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="ingredients">Ингредиенты, необходимые для рецепта</label>
        <textarea
          formControlName="ingredients"
          id="ingredients"
          class="form-control"
        ></textarea>

        <small
          *ngIf="fieldHasError('ingredients', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите ингредиенты, необходимые для рецепта
        </small>
      </div>

      <hr/>

      <div class="form-group" formArrayName="steps">
        <button
          type="button"
          class="btn btn-outline-info mb-3"
          (click)="addStep()"
        >Добавить шаг</button>&nbsp;
        <button
          type="button"
          class="btn btn-outline-dark mb-3"
          (click)="resetSteps()"
        >Сброс</button>

        <div class="form-group mb-3" *ngFor="let stepControl of getStepControls(); let i = index">
          <div [formGroupName]="i" class="border border-success p-3">
            <h5>Шаг {{ i + 1 }}</h5>
            <label for="stepImage">Изображение шага</label>
            <input
              type="text"
              formControlName="stepImage"
              id="stepImage"
              class="form-control"
            />
            <small
            *ngIf="stepHasError(stepControl, 'required', 'stepImage')"
            class="form-text invalid-form-text mr-3"
          >
            Напишите изображение шага
          </small>

            <label for="stepDescription">Описание шага</label>
            <textarea
              formControlName="stepDescription"
              id="stepDescription"
              class="form-control"
            ></textarea>
            <button
              type="button"
              class="btn btn-outline-dark mt-3"
              (click)="deleteStep(i)"
            >Удалить</button>
          </div>
          <small
            *ngIf="stepHasError(stepControl, 'required', 'stepDescription')"
            class="form-text invalid-form-text"
          >
            Напишите описание шага
          </small>
        </div>
      </div>

      <hr/>

      <button
        [disabled]="recipeForm.invalid"
        class="btn btn-primary"
        type="submit"
      >
        <span *ngIf="!isUploading">
          {{ isEdit ? 'Изменить' : 'Создать' }}
        </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>

