<div class="d-flex flex-wrap" *ngIf="!isFetching; else loading">
  <div
    *ngFor="let recipe of recipes"
    class="card m-5"
    style="width: 18rem;"
  >
    <img [src]="recipe.imageUrl" class="card-img-top" alt="{{ recipe.name }}">
    <div class="card-body">
      <h3 class="card-title">{{ recipe.name }}</h3>
      <p class="card-text">{{ recipe.description }}</p>
      <a [routerLink]="['recipes', recipe.id]" class="btn btn-info mb-2">Перейти к рецепту</a>
      <button
        class="btn btn-danger"
        (click)="onRemove(recipe.id)"
        [disabled]="isRemoving"
      >Удалить</button>
    </div>
  </div>
</div>
<ng-template #loading>
    <span class="spinner-border">
      <span class="sr-only">Loading...</span>
    </span>
</ng-template>
