<div class="card mt-3 mb-3 mr-auto ml-auto" style="width: 30rem;">
  <div class="card-header">
    <h1 class="card-title">{{ recipe.name }}</h1>
  </div>
  <img src="{{ recipe.imageUrl }}" class="card-img-top p-3" alt="{{ recipe.name }}">
  <div class="card-body">
    <h3 class="card-text">{{ recipe.description }}</h3>
    <div>
      <h5 class="card-text">Ингредиенты:</h5>
      <p class="card-text">{{ recipe.ingredients }}</p>
    </div>
  </div>
  <div class="p-3">
    <h4>Шаги:</h4>
    <div *ngFor="let step of recipe.steps; let i = index" class="border border-success p-3 mb-3">
      <h5>Шаг {{ i + 1 }}</h5>
      <p>{{ step.stepDescription }}</p>
      <img src="{{ step.stepImage }}" class="card-img-top" alt="{{ step.stepDescription }}">
    </div>
  </div>
  <h4 class="m-auto">Приятного аппетита!</h4>
  <div class="card-footer">
    <a class="btn btn-warning" [routerLink]="['edit']">Изменить</a>&nbsp;
  </div>
</div>
